<h3>Comprar producto</h3>
<div style="display: flex; justify-content: center;" *ngIf="isLoading">
  <div class="spinner-border text-info" role="status" >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="grid">

  <div class="card" style="width: 18rem;" *ngFor="let product of products">
    <div class="card-body">
      <h5 class="card-title">{{ product.name | titlecase}}</h5>
      <hr>
        <ul>
          <li>
            <p><strong>Precio: </strong>{{ product.price | currency }}</p>
          </li>
          <li>
            <p><strong>Stock: </strong>{{ product.stock }}</p>
          </li>
          <li>
            <p><strong>Peso: </strong>{{ product.weight }}g</p>
          </li>
          <li>
            <p><strong>Categoria: </strong>{{ product.category.name }}</p>
          </li>
        </ul>
        <button class="btn btn-primary" (click)="sendSale(product)" [disabled]="product.stock == 0">Comprar</button>
    </div>
  </div>


  <div *ngIf="products.length == 0 && !isLoading" class="alert alert-warning" role="alert" style="text-align: center;">
    No hay productos registrados
  </div>

</div>

