<div class="new-product-div" style="min-width: 50vw; padding: 25px;">
  <h3 style="text-align: center; margin-bottom:25px ">{{title}}</h3>

  <form [formGroup]="form" (submit)="sendProduct()" *ngIf="!isLoading">
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="name">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Precio</label>
      <div class="col-sm-10">
        <input type="number" min="1" class="form-control" formControlName="price">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Stock</label>
      <div class="col-sm-10">
        <input type="number" min="1" class="form-control" formControlName="stock">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Peso</label>
      <div class="col-sm-10">
        <input type="number" min="1" class="form-control" formControlName="weight">
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Categoria</label>
      <div class="col-sm-10">
        <select class="form-select form-select mb-3" formControlName="category_id">
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </div>
    </div>
    <div style="display: flex; justify-content: end">
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid && !isLoading">{{button}}</button>
    </div>
  </form>
</div>
