<div class="product-div">
  <div class="header">
    <h3>
      Productos
    </h3>
    <button class="btn btn-primary" (click)="newProduct()">Nuevo producto +</button>
  </div>
  <table class="table table-light table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Peso</th>
        <th scope="col">Categoria</th>
        <th scope="col">Creación</th>
        <th colspan="2" scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of products">
        <th scope="row">{{ data.id }}</th>
        <td>{{ data. name | titlecase }}</td>
        <td>{{ data.price | currency }}</td>
        <td>{{ data.stock }}</td>
        <td>{{ data.weight }}g</td>
        <td>{{ data.category.name }}</td>
        <td>{{ data.created_at | date }}</td>
        <td><button type="button" class="btn btn-info" (click)="updateProduct(data.id)">Editar</button></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteProduct(data.id)">Eliminar</button></td>

      </tr>

    </tbody>
  </table>
  <div *ngIf="products.length == 0 && !isLoading" class="alert alert-warning" role="alert" style="text-align: center;">
    No hay productos registrados
  </div>
  <div style="display: flex; justify-content: center;" *ngIf="isLoading">
    <div class="spinner-border text-info" role="status" >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>
