<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" >Cafeteria shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" routerLink="/">Productos</a>
        <a class="nav-link" routerLink="shop">Tienda</a>
        <a class="nav-link" routerLink="report">Reportes</a>
      </div>
    </div>
  </div>
</nav>
<div class="container" id="principal-div">
  <router-outlet></router-outlet>
</div>
