<h3 style="text-align: center; padding-top:15px;">Reportes</h3>

<div class="report-div">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Producto mas vendido</h5>
      <hr>
      <ul>
        <li>
          <p><strong>Producto: </strong> #{{reportSale.product_id}} - {{reportSale.product_name | titlecase}}</p>
        </li>
        <li>
          <p><strong>Cantidad vendida: </strong>  {{reportSale.total_amount}}</p>
        </li>
        <li>
          <p><strong>Total en ventas: </strong>  {{reportSale.total_sales | currency}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Producto con mas stock</h5>
      <hr>
      <ul>
        <li>
          <p><strong>Producto: </strong> #{{reportStock.product_id}} - {{reportStock.product_name | titlecase}}</p>
        </li>
        <li>
          <p><strong>Categoria: </strong>  {{reportStock.category}}</p>
        </li>
        <li>
          <p><strong>Cantidad en stock: </strong>  {{reportStock.stock}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
